@import "tailwindcss";

@theme inline {
  --font-sans:
    "Segoe UI", "Helvetica Neue", Arial, ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: max(0.5rem, env(safe-area-inset-bottom));
  }

  .pt-safe {
    padding-top: max(0rem, env(safe-area-inset-top));
  }
}
